@use 'src/assets/styles/mixins' as mixins;
@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';
@import 'src/assets/styles/keyframes';

.portfolio-hello-world {
  @include mixins.core-screen-card;
  @include mixins.flex-column-centered;
  @include mixins.zero-padding-margin;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $color-background-universe;
  position: relative;

  &__title {
    overflow: hidden;
    transform: translateY(-200px);

    &__text {
      @include mixins.font-family-size-weight-color('IBM Plex Mono', 2.5em, 400, $color-font-terminal-green);
      @include mixins.typewriter-container;
      background-color: $color-background-universe-text;
      padding: 10px;
      margin: 10px;
 
      animation: 
        typing 2s steps(var(--line-1-length)),
        blink-caret .75s step-end 3;

      &__middle {
        visibility: hidden;
        @extend .portfolio-hello-world__title__text;
        animation: 
          become-visible 0s ease-in 2s forwards,
          typing 1.5s steps(var(--line-2-length)),
          blink-caret .75s step-end 2;
        animation-delay: 2s;
      }

      &__final {
        visibility: hidden;
        @extend .portfolio-hello-world__title__text;
        animation: 
          become-visible 0s ease-in 4s forwards,
          typing 3s steps(var(--line-3-length), end),
          blink-caret .75s step-end infinite;
        animation-delay: 4.5s;
      }
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__cta {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    background: linear-gradient($color-cta-gradient-step1, $color-cta-gradient-step2, $color-cta-gradient-step3, $color-cta-gradient-step4);
    font-family: 'IBM Plex Mono', monospace;
    color: $color-white;
    animation: 1.5s ease-in 6s forwards show-up;

    &__text {
      font-size: 1.75em;

      :last-child {
        margin-bottom: 10px;
      }
    }
    
    &__arrows {
      display: flex;
      animation: blink-arrows 1.5s ease-in-out infinite;

      &__element {
        width: fit-content;
        height: fit-content;
        font-size: 4em;
      }
    }
  }
  
  @media screen and (max-width: 1000px) {
    &__title {
      &__text {
        font-size: 1em;
      }
    }

    &__cta {
      &__text {
        font-size: 1.25em;
      }
    }
  }
}