@use 'src/assets/styles/mixins' as mixins;
@import 'src/assets/styles/variables';

.portfolio-hello-world {
  @include mixins.core-screen-card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  background-color: #00000044;
  position: relative;

  &__title {
    color: #34cf00;
    overflow: hidden;
    transform: translateY(-200px);

    &__text {
      font-family: 'IBM Plex Mono', monospace;
      background-color: #000000bb;
      padding: 10px;
      margin: 10px;
      font-size: 2.5em;
      width: fit-content;

      overflow: hidden;
      border-right: .15em solid transparent;
      white-space: nowrap;
      letter-spacing: .15em;
      animation: 
        typing 2s steps(12),
        blink-caret .75s step-end 3;

      &__subheading {
        visibility: hidden;
        @extend .portfolio-hello-world__title__text;
        animation: 
          become-visible 0s ease-in 2s forwards,
          typing 3s steps(27, end),
          blink-caret .75s step-end infinite;
        animation-delay: 3s;
      }
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__cta {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(#00000000, #000000aa, #000000cc, #000000ff);
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    animation: 1.5s ease-in 6s forwards show-up;

    &__text {
      font-size: 1.75em;

      :last-child {
        margin-bottom: 10px;
      }
    }
    
    &__arrows {
      display: flex;
      animation: blink-arrows 1.5s ease-in-out infinite;

      &__element {
        width: fit-content;
        height: fit-content;
        font-size: 4em;
      }
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #34cf00 }
  }

  @keyframes become-visible {
    from { visibility: hidden }
    to { visibility: visible }
  }

  @keyframes show-up {
    from { opacity: 0 }
    to { opacity: 1 }
  }
    
  @keyframes blink-arrows {
    from, to { color: transparent }
    50% { color: white }
  }
  
  @media screen and (max-width: 1000px) {
    &__title {
      &__text {
        font-size: 1em;
      }
    }

    &__cta {
      &__text {
        font-size: 1.25em;
      }
    }
  }
}