$color-white: #ffffff;

$color-font-terminal-green: #39ff14;

$color-background-universe: #00014344;
$color-background-universe-text: #000000bb;
$color-cta-gradient-step1: #00000000;
$color-cta-gradient-step2: #000000aa;
$color-cta-gradient-step3: #000000cc;
$color-cta-gradient-step4: #000000ff;
